<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:component-scan base-package="com.xdh.app.navigation.service.*" />
	
	<dubbo:service interface="com.xdh.app.navigation.service.schedule.ScheduleJobService" ref="xdh_navigation_scheduleJobService"  protocol="dubbo"  timeout="${dubbo.service.timeout:10000}" version="${dubbo.service.schedule.version}"  registry="${dubbo.service.schedule.registry}"  />
	
</beans>